<script type="text/javascript">
  if (window.location.protocol != 'https:') {
    window.location.protocol = 'https';
  }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39558186-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39558186-2');
</script>


<div style="color:gray; font-family: sans-serif;">
  <div>
    <div style="display:inline-block; padding: 10px; margin-top: 20px;">
      DC Metro Map
    </div>

    <div style="text-align: center; float:right; border: 1px solid silver; border-radius: 10px; display:inline-block; padding: 10px; margin: 10px; line-height: 1.5em;">
      <div>This site even works offline!</div>
      <div>(Chrome or Firefox)</div>
      <div>(<a style="color:gray;" href="http://appleinsider.com/articles/17/08/05/apple-may-integrate-service-workers-into-webkit-support-next-gen-web-apps-in-safari">NOT Safari yet</a>)</div>
    </div>
  </div>
  <div style="clear:both;"></div>

  <div style="text-align:center;">
    <img src="2017-System-Map.jpg" style="max-width:100vw; max-height: 100vh; display:inline-block;">
  </div>

  <div style="text-align: center; font-family: sans-serif;">
    <div style="float: right; color: gray; border: 1px solid silver; border-radius: 10px; display:inline-block; padding: 10px; margin: 10px; line-height: 1.5em;">
      <div style="font-size: .7em;">it's a <a style="color:gray;" href="https://developers.google.com/web/progressive-web-apps/">PWA</a></div>
      <div style="font-size: .7em;"><a style="color:gray;" href="https://github.com/caseywatts/dcmetromap">code on github</a></div>
    </div>
  </div>
</div>

{{add-to-homescreen}}

{{outlet}}
